<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>        
        <title>Add Review</title>
    </head>
    
    <body>
        <h2 th:text="'Add review to book: ' + ${book.title}"></h2>
        
        <form th:action="@{'/addReview/' + ${bookId}}" method="POST">
            <label for="review">Review: </label>
            <input id="review" input="text" name="review"><br>
                
            <input type="submit" value="Add Review" style='width:100px; margin-top: 15px;'>
        </form>
    </body>
</html>